body {
  font-family: Verdana, sans-serif;
  color: grey;
}

h1 {
  color: lightblue;
  text-align: center;
}

.commands {
  line-height: 25px;
}

a {
  text-decoration: none;
}

.photo {
  width: 50%;
}

.light-background {
  background-color: white;
  color:black;
}

.dark-background {
  background-color: black;
  color:white;
}
